/* 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo-Variable', sans-serif;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* 넥슨 Lv.2 고딕 */
@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Gmarket Sans */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 나눔 펜 */
@font-face {
    font-family: "NanumPen";
    src: url(../font/NanumPen.ttf);
}
/* 나눔스퀘어네오bold */
@font-face {
    font-family: 'NanumSquareNeo-aLt';
    src: url(../font/NanumSquareNeo-aLt.ttf);
}
@font-face {
    font-family: 'NanumSquareNeo-bRg';
    src: url(../font/NanumSquareNeo-bRg.ttf);
}
@font-face {
    font-family: 'NanumSquareNeo-cBd';
    src: url(../font/NanumSquareNeo-cBd.ttf);
}
@font-face {
    font-family: 'NanumSquareNeo-dEb';
    src: url(../font/NanumSquareNeo-dEb.ttf);
}
@font-face {
    font-family: 'NanumSquareNeo-eHv';
    src: url(../font/NanumSquareNeo-eHv.ttf);
}
/* SUIT */
@font-face {
    font-family: 'SUIT';
    font-weight: 100;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 200;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 300;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 400;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 500;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 600;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 700;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 800;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'SUIT';
    font-weight: 900;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.eot');
    src: url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.eot?#iefix') format('embedded-opentype'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.woff2') format('woff2'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.woff') format('woff'),
        url('https://fastly.jsdelivr.net/gh/webfontworld/sunn/SUIT-Heavy.ttf') format("truetype");
    font-display: swap;
}
/* 나눔스퀘어 네오 */
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 300;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-aLt.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 400;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-cBd.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 800;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.eot?#iefix') format('embedded-opentype'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff2') format('woff2'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.woff') format('woff'),
        url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-dEb.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    font-style: normal;
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot');
    src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.eot?#iefix') format('embedded-opentype'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff2') format('woff2'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.woff') format('woff'),
         url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-eHv.ttf') format("truetype");
    font-display: swap;
} 