.model_wrap{
    border: 2px solid #E17384;
    border-radius: 3rem;
    padding: 4rem;
    margin-bottom: 3rem;
}
.model_img{
    margin: 5rem 0;
    display: flex;justify-content: space-between; align-items: center;gap: 3rem;
    text-align: center;
}
.model_img .img_wrap{
    width: 100%;border-radius: 3rem; overflow: hidden;
    aspect-ratio: 3/4;
}
.model_img .img_wrap img{width: 100%;height: 100%;object-fit: cover;}
.model_img li{display: flex;flex-direction: column;gap: 1rem;color: #E17384;}
.model_img p{font-weight: 800;background: #e1738316;padding: 1rem;border-radius: 3rem;}

.online_tit{
    color: #E17384;font-weight: 800;
    padding-bottom: 1rem;margin-bottom: 2rem;
    border-bottom: 2px solid #e173836f;
}
.online_box{
    border: 1px solid #BEBEBE;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}
.online_box p i{font-weight: 800;}
label.post_agree_txt{
    display: flex;align-items: center;gap: 1rem;

}
.model1{display: grid;grid-template-columns: 100px  1fr 100px 1fr;gap: 2rem 3rem;    width: 100%;}
.model1 label{
    font-size: 1.8rem;
}
textarea{width: 100%;max-width: 100%;}
.rp_title{display: flex;gap: 2rem;align-items: center;}
input.online_box{padding: 1rem;margin: 0;font-family: 'NanumSquareNeo',"Pretendard Variable", Pretendard;}
select.online_box{padding: 1rem;margin: 0;font-family: 'NanumSquareNeo',"Pretendard Variable", Pretendard;}

.tel{display: flex;gap: 1rem;justify-content: space-between;width: 100%;}
.tel>*{flex: 1;width: 30%;}


/* 개별 파일 업로드 항목 스타일 */
.file_add > div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    gap: 2rem;
    font-size: 1.6rem;
}

/* 파일 레이블 스타일 */
.file_add label {
    width: 60px;
    font-weight: bold;
    text-align: center;
}

/* 텍스트 상자 스타일 */
.file_add .s_text {
    flex: 1;
    border: 1px solid #BEBEBE;
    border-radius: 1rem;
    padding: 1rem;
    background: #fff;
}

/* 업로드 버튼 스타일 */

.file_add .btn_type2 .btn_inner {
    position: relative;
    display: inline-block;
    padding: .7rem 2rem;
    background-color: #e17383;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.file_add .btn_type2 .btn_inner span {
    pointer-events: none;
}

.file_add .btn_type2 .btn_inner input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.application-form button{
    font-family: 'NanumSquareNeo',"Pretendard Variable", Pretendard;;
    /* margin: 5rem auto 0; */
    display: flex;justify-content: center;
    background-color: #E17384;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: #fff;
}
button p {font-size: 2.5rem;font-weight: 800;}
@media (max-width: 1000px) {
    .model1{display: grid;grid-template-columns: 100px  1fr ;gap: 2rem 3rem;}
}
@media (max-width:600px){
    .rp_title{flex-wrap: wrap;gap: 1rem;}
    .rp_title>*{width: 60%;}
    .rp_title>p{width: 30%;}
    .online_wrap{padding: 4rem 1.5rem;}
    .model_img {
        margin: 3rem 0;
        /* flex-direction: column; */justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .model_img >*{max-width: 120px;justify-content: center;}
    .model_img >*{max-width: 120px;justify-content: center;}
    .model_img .img_wrap{border-radius: 1rem;}
    .model_img p{padding: .5rem;}
    button p {font-size: 2rem;font-weight: 800;}
    .model1{display: grid;grid-template-columns: 50px  1fr ;gap: 1rem 2rem;}
    .model1 label {
        font-size: 1.3rem;
    }
    .model_wrap{padding: 3rem 1rem;}
    input.online_box {padding: 0.6rem;        width: 90%;}
    select.online_box {padding: 0.6rem;}
    .file_add label { width: 40px}
    .file_add > div {font-size: 1.2rem;margin-bottom: 1rem; gap: 1rem;}
    .file_add .s_text{padding: .5rem;width: 90%;}
    .file_add .btn_type2 .btn_inner {padding: 0.5rem 1rem}
    .tel {flex-direction: column;}
    .tel>*{width: 90%;}
}
@media (max-width:500px){
    .reserve_post_write_table th{font-size: 1.4rem;}
    .reserve_post_write_table td.tel{flex-wrap: wrap;}
    .reserve_post_write_table td.tel>*{min-width: 100px;max-width: 300px;width: auto;}
}
@media (max-width:310px){
    /* .model1{display: grid;grid-template-columns: 50px  1fr ;gap: 1rem 2rem;max-width: 100%;} */
}