.online_wrap{
    border: 2px solid #E17384;
    border-radius: 3rem;
    padding: 4rem;
}
.online_tit{
    color: #E17384;font-weight: 800;
    padding-bottom: 1rem;margin-bottom: 2rem;
    border-bottom: 2px solid #e173836f;
}
.online_box{
    border: 1px solid #BEBEBE;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1rem;
}
.online_box p i{font-weight: 800;}
label.post_agree_txt{
    display: flex;align-items: center;gap: 1rem;

}
.online2{
    display: flex;gap: 4rem;margin-top: 5rem;
}
.online2>div{flex: 1;}
.rp_title{display: flex;gap: 2rem;align-items: center;}
input.online_box{padding: 1rem;margin: 0;}
select.online_box{padding: 1rem;margin: 0;}
.reserve_post_write_table tr{}
.reserve_post_write_table th{font-size: 1.9rem;text-align: left;}
.reserve_post_write_table td{padding: 1rem 0;}
.reserve_post_write_table td>* {
    width: 100%;
    font-family: 'NanumSquareNeo', "Pretendard Variable", Pretendard;
    border: 1px solid #BEBEBE;
    border-radius: 1rem;
    padding: 1rem 1rem;
}
.reserve_post_write_table td.tel{display: flex;gap: 1rem;}
.reserve_post_write_table td.reserve_part_wrap>*{
    border: 0px;
    font-size: 1.7rem;
}
#chk_date {
    border: 1px solid #BEBEBE;
    border-radius: 1rem;
    font-size: 1.3rem;
    padding: 10px;
    margin-left: 14px;
}
.application-form button{
    font-family: 'NanumSquareNeo',"Pretendard Variable", Pretendard;;
    /* margin: 5rem auto 0; */
    display: flex;justify-content: center;
    background-color: #E17384;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: #fff;
    
}
button p {font-size: 2.5rem;font-weight: 800;}
#reservationDate .ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    width: 100%;
}
.las {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.las button {
    border: none;
    background: #d66a79;
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 1.6rem;
}
.las button:hover{
    border:1px solid #d66a79;
    color:#d66a79;
    background:#fff;
    box-sizing: border-box;
}
#reservationDate .ui-datepicker td span,#reservationDate .ui-datepicker td a {
    display: flex;
    /* padding: 2.2em; */
    /* text-align: right; */
    height: 48px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
}
#reservationDate .ui-state-highlight, #reservationDate .ui-widget-content .ui-state-highlight, #reservationDate .ui-widget-header .ui-state-highlight {
    border: 1px solid #e17384;
    background: #e173849e;
    color: #ffffff;
}
#reservationDate .ui-state-active,#reservationDate .ui-widget-content .ui-state-active,#reservationDate .ui-widget-header .ui-state-active,#reservationDate a.ui-button:active, .ui-button:active,#reservationDate .ui-button.ui-state-active:hover {
    border: 1px solid #e17384;
    background: #e17384;
    font-weight: normal;
    color: #ffffff;
}
#reservationDate .ui-widget-header {
    border: 1px solid #dddddd;
    background: #d66a79;
    color: #333333;
    font-weight: bold;
    color: #fff;
    font-size: 1.8rem;
}
@media (max-width: 1200px) {
    .online2{flex-direction: column;}
    .reserve_post_write_table th{font-size: 1.8rem;}
}
@media (max-width:600px){
    .rp_title{flex-wrap: wrap;gap: 1rem;}
    .rp_title>p{width: 30%;}
    .rp_title>*{width: 60%;}
    .online_wrap{padding: 4rem 1.5rem;}
    button p {font-size: 2rem;font-weight: 800;}
    .datep{
        width: 100%!important;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width:500px){
    .reserve_post_write_table th{font-size: 1.4rem;}
    .reserve_post_write_table td.tel{flex-wrap: wrap;}
    .reserve_post_write_table td.tel>*{min-width: 100px;max-width: 300px;width: 90%;}
}